#main {
   background-image: url('../../assets/images/cbeach.jpeg');
   background-position: center;
   background-repeat: no-repeat; 
   background-size: cover;
   background-attachment: fixed;
   width: 100vw;
   height: 100vh;
}

.heading-container {
   position: relative;
   margin: 0;
   padding: 0;
   top: 40%;
}

.main-heading {
   text-align: center;
   color: #ebeff0;
   font-family: 'Shadows Into Light', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 3.5rem;
   padding: 5px;
   
}

.title {
   text-align: center;
   position: relative;
   margin: 0;
   color: #ebeff0;
   font-family: 'Shadows Into Light', sans-serif;
   letter-spacing: 2px;
   font-size: 1.5rem;
   margin-top: -2rem;
   top: 40%;
   left: 50%;
   margin-right: 50%;
   transform: translate(-50%, -50%);
}

.title-socials {
  font-size: 1.3rem;
  position: absolute;
  display: inline-flex;
  bottom: 1%;
  margin-left: 1rem;
  /*left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);*/
}

.title-socials a {
  text-decoration: none;
  color: #222d3e;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 3rem;
}

.title-socials a:hover {
  color: #ebeff0;
}

.arrow {
  visibility: hidden;
}

.mouse a span {
  position: absolute;
  bottom: 1%;
  right: 5%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #ffff;
  border-radius: 50px;
  box-sizing: border-box;
}

.mouse a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #222d3e;
  border-radius: 100%;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

.mouse-scroll {
  position: absolute;
  bottom: 7%;
  right: 3.4%;
  margin-left: 5px;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 10px;
}

.mouse-scroll a {
  text-decoration: none;
  color: #222d3e;
  font-size: 18px;
}

.mouse-scroll a:hover {
  color: #78c4c8;
  text-shadow: .5px .5px #222d3e;
}


@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrow-down a {
   color: #222d3e;
   font-size: 2.5rem;
   bottom: 5%;
   position: absolute;
   text-align: center;
   right: 5%;
 }

 .arrow-down a:hover {
  color: #78c4c8;
 }

 #intro-section {
   background: #ebeff0;
 }

 /*.welcome-back {

   height: 160px;
   width: 300px;
   margin-top: 5rem;
   margin-left: 14rem;
 }*/

 .intro-heading {
   text-align: left;
   font-size: 1.7rem;
   margin-top: 6rem;
   margin-left: 3rem;
   color: #222d3e;
   font-family: 'Shadows Into Light', sans-serif;
   display: inline-block;
 }

 .intro-line {
   width: 100px;
   margin-left: 3rem;
   border-radius: 5px;
   height: 4px;
   background: #78c4c8;
   margin-top: -1rem;
   margin-bottom: 1rem;
 }

 #intro-section img {
  width: 400px;
  margin-left: 4rem;
  margin-top: 3rem;
  opacity: .6;
  display: inline-block;
  border-radius: 5%;
  background-image: cross-fade(5);
 }

 .intro-subtitle {
   text-align: left;
   font-size: 1.3rem;
   margin-bottom: .5rem;
   margin-left: 3rem;
   color: #222d3e;
   margin-top: -1rem;
   font-family: 'Shadows Into Light', sans-serif;
   width: 60%;
 }

 .line-subtitle {
   width: 40%;
   margin-top: 7rem;
   margin-left: 10%;
   background-color: #222d3e;
   height: .5px;
   border: none;
 }

 .intro-scroll {
   font-family: 'Shadows Into Light', sans-serif;
   letter-spacing: 4px;
   float: right;
   margin-top: -25rem;
   margin-right: 5rem;
   margin-bottom: 5rem;
}

.intro-scroll-line {
   height: 350px;
   border-left: .5px solid #222d3e;
   place-self: center;
   margin-left: 1.5rem;
   margin-top: .5rem;
}

.tech-stack {
  overflow: hidden;
  height: 420px;
  width: 80%;
  margin-top: 5rem;
  margin-left: 2rem;
}

.tech-stack span {
  opacity: .3;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Shadows Into Light', sans-serif;
  color: #222d3e;
  display: inline-flex;
}

.intro-container {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: repeat(3, auto);
   width: 100vw;
   height: auto;
   margin-top: 10rem;
}

.intro-background {
   grid-row-start: 1;
   grid-column: 1/2;
   margin-left: 30rem;
   margin-right: 1rem;
   margin-bottom: 4rem;
   height: 200px;
   position: relative;
   background-color: #ebeff0;
   background-size: 10px 10px;
   background-attachment: fixed;
   background-image: repeating-linear-gradient(45deg, #aedbde 0, #aedbde 1px, #ebeff0 0, #ebeff0 50%);
}

.intro-projects {
   text-decoration: none;
   color: #222d3e;
   font-family: 'Shadows Into Light', sans-serif;
   font-size: 1.5rem;
   grid-row: 1;
   grid-column: 1;
   margin-left: 7rem;
   margin-top: 0;
   width: 60%;
   z-index: 1;
}

.bottom-container {
  width: 90%;
  background-color: #78c4c8;
  margin: auto;

}

.intouch {
  color: #ebeff0;
  font-family: 'Shadows Into Light';
  font-size: 1.7rem;
  margin-left: 1rem;
  display: inline-block;
}

.intouch h1 {
  margin: 0 auto;
  padding-top: 1rem;
  display: inline-block;
}

.intouch-line {
  width: 100px;
  margin-left: 1rem;
  border-radius: 5px;
  height: 4px;
  background: #222d3e;
  margin-top: -1rem;
  margin-bottom: 2rem;
  position: relative;
}

.intouch-resume {
  color: #222d3e;
  font-family:'Shadows Into Light', sans-serif;
  letter-spacing: .5px;
  text-align: center;
  font-size: 1.3rem;
  margin-left: 1rem;
  display: inline-block;
 
}

.underlined {
  display: inline;
  position: relative;
  z-index: 1;
  color: #222d3e;
 
}

.intouch-resume a {
  text-decoration-line: none;
  color: #222d3e;
}

.highlight {
  position: absolute;
  background-color: #ebeff0;
  top: 55%;
  left: 4%;
  bottom: auto;
  height: 36%;
  width: 100%;
  z-index: -1;
}

.message-svg {
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.line-message3-line1 {
  animation: line-message3-line 3s 600ms infinite; 
  stroke-dasharray: 150; 
  stroke-dashoffset: 160;
}

.line-message3-line2 {
  animation: line-message3-line 3s 300ms infinite; 
  stroke-dasharray: 150; 
  stroke-dashoffset: 160;
}

.line-message3-line3 {
  animation:line-message3-line 3s infinite; 
  stroke-dasharray: 150; 
  stroke-dashoffset: 160;
}

@keyframes line-message3-line {
  0%
    {
      stroke-dashoffset: 160;
    }
  20% 
    {
      stroke-dashoffset: 160;
    }
  50%
    {
      stroke-dashoffset: 0; 
      opacity: 1;
    }
  80% 
    {
      stroke-dashoffset: 0; 
      opacity: 0;
    }
  100%
    {
      stroke-dashoffset: 150; 
      opacity: 0;
    }
 }



@media only screen and (min-width: 300px) and (max-width: 575px) {

  .arrow {
    visibility: visible;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow a {
    font-size: 40px;
    text-decoration: none;
    color: #fff;
  }

  .arrow a:hover {
    color:#78c4c8;
  }

  .mouse-scroll {
   display: none;
  }

  .mouse a span{
    display: none;
  }

  .intro-subtitle {
    width: 70%;
  }
   
  .tech-stack {
    margin-left: 1rem;
    margin-top: 3rem;
    width: 90%;
    height: 690px;
  }

  .intro-scroll {
    margin-right: 2rem;
    margin-top: -44rem;
  }

  .intro-scroll-line {
    height: 300px;
  }
  
  .intro-projects {
    margin-left: 3rem;
  }

  .intro-background {
    margin-left: 5rem;
    margin-top: 1.5rem;
  }

  .intouch {
    color: #ebeff0;
    font-family: 'Shadows Into Light';
    font-size: 1.3rem;
    margin: 0;
    margin-left: 1rem;
  }
  
  .message-svg {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .download-svg {
    margin-top: 10rem;
    margin-right: 1rem;
  }

  .intouch-resume p {
    width: 100%;
  }
 
 }
