@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Shadows+Into+Light&display=swap');
* {
  overflow-x: hidden;
}

html, body {
  margin: 0;
}

@supports (-webkit-overflow-scrolling: touch) {
  .background-image {
  background-attachment: scroll;
  }
}